@use "src/assets/styles/main.scss" as *;

.wrapper {
	width: 70%;

	margin: 0 auto;
	padding: 6rem;
	margin-top: 7rem;

	@include respond(tab-port) {
		width: 100%;
		padding: 3rem;
	}
}

.horizontal-group {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap-reverse;

	& > div {
		flex: 1;
	}
}

.vertical-group {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.image-input-container {
	display: flex;
	column-gap: 2rem;
}

.file-input-container {
	display: flex;

	label {
		cursor: pointer;
		align-self: flex-end;
	}

	input {
		display: none;
	}
}

.controls {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.btn-submit {
		margin-left: 1.5rem;
	}
}

.error-box {
	margin-bottom: 3rem;
}
