@use "src/assets/styles/main.scss" as *;

.grid-item {
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-bottom: 1.5 * 100%;
	}
}

.grid-content {
	position: absolute;
	inset: 0;

	background-color: $color-white;
	border-radius: 1rem;
	overflow: hidden;

	box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.05);
	
	transition: transform 0.2s, box-shadow 0.2s;
	transition-timing-function: ease;

	&:hover {
		transform: translateY(-1.5rem) scale(1.02);
		box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
	}

	cursor: pointer;
}

.wrapper {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: $color-grey-light;
}
