@use "src/assets/styles/main.scss" as *;

.wrapper {
	height: 100%;
	padding: 4rem;
	padding-top: 11rem;
}

.grid {
	display: grid;
	grid-auto-flow: row dense;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	grid-template-rows: min-content;
	gap: 3rem;
	align-content: flex-start;
}

.button {
	width: 6rem;
	height: 6rem;
	padding: unset;

	border-radius: 50%;

	position: fixed;
	z-index: 50;
	bottom: 3rem;
	right: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0 1rem 1rem rgba($color-black, 0.2);

	svg {
		width: 2rem;
		height: 2rem;
		fill: $color-white;
	}
}
