@use "src/assets/styles/main.scss" as *;

.item {
	padding: 2rem;
	border-radius: 1rem;
	background-color: $color-grey-light;
	cursor: pointer;

	transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
	transition-timing-function: ease;

	&:hover {
		box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
		transform: translateY(-0.5rem);
	}

	&--included {
		background-color: $color-primary;
		color: $color-white;

		.notification {
			visibility: visible;
			transform: translateX(0);
		}

		.lock {
			fill: $color-white;
		}
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading {
	display: flex;
	align-items: baseline;
}

.name {
	@extend %display;
	font-size: 1.6rem;
}

.description {
	margin-top: 0.5rem;
}

.notification {
	visibility: hidden;
	text-align: center;

	display: flex;

	color: $color-white;
	transition: transform 0.3s ease;
	transform: translateX(60%);
}

.checkmark {
	width: 1.5rem;
	height: 1.5rem;
	fill: $color-white;
	margin-right: 2px;
}

.lock {
	width: 1.2rem;
	height: 1.2rem;
	fill: rgba($color-black, 0.6);
	margin-left: 0.5rem;
}
