@use "src/assets/styles/main.scss" as *;

.item {
	padding: 2rem;
	border-radius: 1rem;
	background-color: $color-grey-light;
	cursor: pointer;

	transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
	transition-timing-function: ease;

	&:hover {
		box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
		transform: translateY(-0.5rem);
	}

	&--included {
		background-color: $color-primary;
		color: $color-white;

		.checkmark {
			visibility: visible;
			transform: translateX(0);
		}

		.lock {
			fill: $color-white;
		}
	}
}

.loading--add {
	color: $color-white;
	background-color: rgba($color-primary, 1);

	.lock {
		fill: $color-white;
	}
}

.loading--remove {
	background-color: rgba($color-primary, 0.4);

	.checkmark {
		visibility: hidden;
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading-container {
	display: flex;
	align-items: baseline;
}

.name {
	@extend %display;
	font-size: 1.6rem;
}

.lock {
	width: 1.2rem;
	height: 1.2rem;
	fill: rgba($color-black, 0.6);
	margin-left: 0.5rem;
}

.description {
	margin-top: 0.5rem;
}

.notification {
	text-align: center;
	display: flex;
	color: $color-white;
}

.checkmark {
	width: 1.5rem;
	height: 1.5rem;
	visibility: hidden;

	fill: $color-white;
	margin-right: 2px;

	transform: translateX(1rem);
	transition: transform 0.2s ease;
}
