@use "src/assets/styles/main.scss" as *;

.wrapper {
	padding: 5rem 2rem;
	padding-top: 10rem;
	position: relative;
}

.container {
	min-height: 100vh;
	display: grid;
	grid-auto-flow: row dense;
	grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
	grid-template-rows: min-content;
	gap: 2rem;
	align-content: flex-start;
}

.bottom {
	position: absolute;
	bottom: 15rem;
}

.loading {
	margin: 5rem auto;
	width: 15rem;
}
