@use "src/assets/styles/main.scss" as *;

.grid-wrapper {
	grid-column: span 2;

	@media only screen and (max-width: 800px) {
		grid-column: 1/-1;
	}
}

.wrapper {
	position: relative;
	cursor: pointer;
	transition: transform 0.2s ease;

	&::after {
		@include pseudoCenter;

		border-radius: 1rem;
		box-shadow: 0 1rem 1.5rem rgba($color-black, 0.15);
		opacity: 0;

		transition: opacity 0.3s ease;
	}

	&:hover {
		transform: translateY(-1rem);

		&::after {
			opacity: 1;
		}
	}
}

.container {
	height: 100%;

	background-color: $color-grey-light;
	border-radius: 1rem;
	padding: 4rem 5rem;

	overflow: hidden;
}

.author {
	margin-bottom: 1rem;
}

.link {
	margin-top: 1rem;
	display: inline-block;
}

.double-quote {
	font-size: 40rem;
	color: rgba($color-grey-dark, 0.2);
	position: absolute;
	bottom: -30%;
	right: -2%;
	line-height: 0;
}
