@use "src/assets/styles/color.scss" as *;

.wrapper {
	background-color: $color-grey-light;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	grid-template-rows: min-content;
	gap: 3rem;
	align-content: flex-start;
	justify-content: center;
}

.header {
	grid-column: 1 / -1;
}
