@use "/src/assets/styles/main.scss" as *;

.top,
.content > div {
	background-color: $color-grey-light;
	margin-bottom: 3rem;
}

.top {
	height: 10rem;
	width: 100%;
}

.content {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
}

.title {
	height: 5rem;
	width: 50%;
	margin-left: auto;
}

.keyquote {
	height: 20rem;
}

.genre {
	height: 5rem;
	width: 20%;
	min-width: 10rem;
	margin-left: auto;
}

.image {
	height: 50rem;
}

.quote {
	height: 50rem;
}
