@use "../../assets/styles/color" as *;

.btn {
	padding: 1rem 2rem;
	border-radius: 1rem;
}

.highlight {
	color: $color-white;
	background: $color-primary;
	&:hover {
		background-color: rgba($color-primary, 0.8);
	}
}
