@use "src/assets/styles/color" as *;

.btn {
	padding: 1rem 2rem;
	border-radius: 1rem;
}

.fill {
	color: $color-white;
	background: $color-primary;

	&:hover {
		background-color: rgba($color-primary, 0.8);
	}
}

.outline {
	border: solid 0.5px $color-grey-dark;

	&:hover {
		background-color: rgba($color-grey-light, 0.5);
	}
}
