$color-primary: #f76c6c;

$color-black: #000000;
$color-white: white;
$color-grey-dark: rgb(180, 180, 180);
$color-grey-light: rgb(238, 238, 238);
$color-grey-light-2: rgb(244, 244, 244);

$quote-card-side: 30rem;
